.pagination {
    margin-top: 15px;
    display: block;
}

.container {
    float: right;
}

.btn  {  
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 2px solid #ddd;
    margin: 0 4px;
}

.btn:hover {
    background-color: #a1f7eb;
}