.mainSection {
  padding: 20px;
}

.tableContainer {
  margin-top: 20px;
  overflow-x: auto;
}

.table {
  background-color: #d5e6ea;
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

.table th {
  background-color: #d8bbda;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #e9d3ea;
}

.table tr:hover {
  background-color: #d8bbda;
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  color: yellow;
}

.deleteButton {
  color: red;
}

.ActionButtons {
  display: flex;
  justify-content: center;
}

@media (max-width: 200px) {
  .table th,
  .table td {
    padding: 6px;
  }

  .table tr {
    display: block;
    margin-bottom: 10px;
  }

  .table tr th,
  .table tr td {
    display: block;
    text-align: right;
  }

  .table tr th::before,
  .table tr td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
