.footerContainer {
    background: linear-gradient(to right, #f053e0 0%, #0165fb 100%);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imagen menu";
    padding: 20px;
}

.brandFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: imagen;
    text-align: center;
}

.brandFooter h2 {
    font-size: 1.2rem;
    margin-left: 10px;
}

.menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu p {
    margin-bottom: 10px;
    border-bottom: 2px solid white;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 2px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 8px 12px;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 780px) {
    .footerContainer {
        grid-template-rows: auto;
    }

    .brandFooter h2 {
        font-size: 1.5rem;
    }
}
