.footerContainer {
    background: linear-gradient(to right, #f053e0 0%, #0165fb 100%);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vh;
    grid-template-areas: "imagen menu";
}

.brandFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: imagen;
}

.menu{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu p{
    margin-bottom: 10px;
    border-bottom: 2px solid white;
}
.menu li{
    margin-bottom: 2px;
}
